{% extends "base.html" %}

{% block title %}Login required{% endblock %}

{% block body %}
  <p>You are not currently logged in and tried to access a secure page.</p>
  <p>
    <a id="link" href="{{ url }}">Open this link to log in, ideally in a new tab.</a>
  </p>
  <p>
    When you have logged in you can go back to this page and reload it to resume
    and automatically resubmit any form you were submitting.
  <br>
    Your browser may warn you against submitting a form twice.
    It is safe to disregard that warning, the browser just thinks this page
    means that the site has accepted your submission.
  </p>
{% endblock %}
