<table class="stat-table">
<tr>
  <th colspan="2">Stats</th>
</tr>
{% for s in stats %}
<tr>
  <td><a href="/wiki/{{ s.id }}/">{{ s.name }}</a></td>
  {% if s.pending_review %}
  <td>{{ s.value }}*</td>
  {% else %}
  <td>{{ s.value }}</td>
  {% endif %}
</tr>
{% endfor %}
<tr>
  <th colspan="2">Krafter</th>
</tr>
{% for p in powers %}
<tr>
  <td><a href="/wiki/{{ p.id }}/">{{ p.name }}</a></td>
  {% if p.pending_review %}
  <td>{{ p.value }}*</td>
  {% else %}
  <td>{{ p.value }}</td>
  {% endif %}
</tr>
{% endfor %}
<tr>
  <th colspan="2">Influenser</th>
</tr>
{% for i in influences %}
<tr>
  <td><a href="/wiki/{{ i.id }}/">{{ i.name }}</a></td>
  {% if i.pending_review %}
  <td>{{ i.value }}*</td>
  {% else %}
  <td>{{ i.value }}</td>
  {% endif %}
</tr>
{% endfor %}
<tr>
  <th>{% if xp_link() %}<a href="{{ character.vampire_id }}/">{% endif %}Återstående XP{% if xp_link() %}</a>{% endif %}</th>
  <th>{% if xp_link() %}<a href="{{ character.vampire_id }}/">{% endif %}{{ character.remaining_xp }}{% if xp_link() %}</a>{% endif %}</th>
</tr>
</table>
{% include "character/_combat_controls.html" %}
