{% extends "base.html" %}

{% block title %}{{ character.name }} (utkast){% endblock %}

{% block body %}
  <table class="stat-table char-meta">
    <tr>
      <th>Namn:</th>
      <th>{{ character.name }}</th>
    </tr>
    <tr>
      <td>Ägare</td>
      <td>{{ character.owner_name }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>Utkast</td>
    </tr>
    <tr>
      <td>Mänsklig ålder</td>
      <td>{{ character.apparent_age }}</td>
    </tr>
    <tr>
      <td><a href="/wiki/embrace/">Omfamningsdatum</a></td>
      <td>{{ character.date_embraced }}</td>
    </tr>
    <tr>
      <td><a href="/wiki/torpor/">Tid i torpor</a></td>
      <td>{{ character.torpor_display() }}</td>
    </tr>
    <tr>
      <td><a href="/wiki/clan/">Klan</a></td>
      <td><a href="/wiki/{{ character.clan_name | lower }}/">{{ character.clan_name }}</a></td>
    </tr>
    <tr>
      <td><a href="/wiki/covenants/">Kovenant</a></td>
      <td>{% if character.covenant_slug.len() > 0 %}<a href="/wiki/{{ character.covenant_slug }}/">{{ character.covenant_name }}</a>{% endif %}</td>
    </tr>
    {% if character.home_domain.len() > 0 %}
    <tr>
      <td>Hemdomän</td>
      <td>{{ character.home_domain }}</td>
    </tr>
    {% endif %}
    {% if character.known_age.len() > 0 %}
    <tr>
      <td>Känd ålder</td>
      <td>{{ character.known_age }}</td>
    </tr>
    {% endif %}
    {% if character.public_knowledge.len() > 0 %}
    <tr>
      <td><a href="/wiki/public-knowledge/">Allmänt känt</a></td>
      <td>{{ character.public_knowledge }}</td>
    </tr>
    {% endif %}
    {% if let Some(url) = character.character_description_url %}
    <tr>
      <td><a href="/wiki/character-description/">Karaktärsbeskrivning</a></td>
      <td><a href="{{ url }}">{{ url }}</a></td>
    </tr>
    {% endif %}
  </table>

  <p>Denna karaktär väntar på godkännande från en spelledare.</p>
  <p><a href="/character/">Tillbaka till karaktärslistan</a></p>
{% endblock %}
