{% extends "base.html" %}

{% block title %}{{ character.name }} (inaktiv){% endblock %}

{% block body %}
  <table class="stat-table char-meta">
    <tr>
      <th>Namn:</th>
      <th>{{ character.name }}</th>
    </tr>
    <tr>
      <td>Ägare</td>
      <td>{{ character.owner_name }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>Inaktiv</td>
    </tr>
    <tr>
      <td>Mänsklig ålder</td>
      <td>{{ character.apparent_age }}</td>
    </tr>
    <tr>
      <td><a href="/wiki/embrace/">Omfamningsdatum</a></td>
      <td>{{ character.date_embraced }}</td>
    </tr>
    <tr>
      <td><a href="/wiki/torpor/">Tid i torpor</a></td>
      <td>{{ character.torpor_display }}</td>
    </tr>
    <tr>
      <td><a href="/wiki/clan/">Klan</a></td>
      <td><a href="/wiki/{{ character.clan_name | lower }}/">{{ character.clan_name }}</a></td>
    </tr>
    {% if let Some(url) = character.character_description_url %}
    <tr>
      <td><a href="/wiki/character-description/">Karaktärsbeskrivning</a></td>
      <td><a href="{{ url }}">{{ url }}</a></td>
    </tr>
    {% endif %}
  </table>

  <p>Denna karaktär är inaktiv.</p>
  <p><a href="/character/">Tillbaka till karaktärslistan</a></p>
{% endblock %}
