{% extends "base.html" %}

{% block title %}Importerade kontoförändringar{% endblock %}

{% block body %}
  Importerade kontoförändringar:
  <table>
    <tr>
      <th>Konto</th>
      <th>Datum</th>
      <th>Belopp</th>
      <th>Övrig data</th>
    </tr>
    {% for a in imported_account_changes %}
    <tr>
      <td>{{ a.account_name }}</td>
      <td>{{ a.date }}</td>
      <td>{{ a.amount }}</td>
      <td>{{ a.other_data }}</td>
    </tr>
    {% endfor %}
  </table>
  <form method="post" formenctype="application/x-www-form-urlencoded">
    Importera kontoförändringar från CSV-fil:
    <br>
    Konto: <select name="account">
      {% for (t, accounts) in accounts_by_type %}
      <optgroup label="{{ t }}">
        {% for a in accounts %}
          <option value="{{ a.id }}">{{ a.name }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
    <br>
    Kontoförändringar CSV:
    <input type="textarea" name="changes_csv">
    <br>
    <input type="submit" value="Importera">
  </form>
{% endblock %}
